@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&display=swap');
:root{
    --Yellow:#ffc61a;
    --Black:#1b1b1b;
    --White: white;
    --Gray: #e4e4e4;
    --babes-neue:'Bebas Neue', cursive;
    --lato:'Lato', sans-serif;
}
*{
	padding: 0px;
	margin: 0px;
}

/* Header Area Start*/

/* Book A Cab Area End*/