@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&display=swap');
:root{
    --Yellow:#ffc61a;
    --Black:#1b1b1b;
    --White: white;
    --babes-neue:'Bebas Neue', cursive;
    --lato:'Lato', sans-serif;
}
*{
	padding: 0px;
	margin: 0px;
}

/* Header Area Start*/
.header{
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    padding: 30px 0px;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 17px;
    font-family: var(--Lato);
    font-weight: 600;
    transition: .6s ease;
}
.navbar-light .navbar-nav .active , .navbar-light .navbar-nav .nav-link:hover{
    color: var(--Black)!important;
    background-color: var(--Yellow);
}
.navbar-light .navbar-nav .nav-item{
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-item:last-child{
    margin-right: 0px;
}
.navbar-toggler{
    background-color: var(--Yellow)!important;
    padding: 2px 5px!important;
    border: none;

}
.navbar-toggler:focus{
outline: none;
}

/* Header Area End*/
/* Hero Area Start */
.text-content{
    text-align: center;
    padding-top: 50px;
}
.text-content h1{
    color: var(--White);
    font-size: 72px;
    font-family: var(--lato);
    font-weight: 600;
    text-transform: uppercase;
}
.text-content h2{
    color: var(--Yellow);
    font-size: 36px;
    font-family: var(--lato);
    font-weight: 600;
    text-transform: uppercase;
}
.text-content p{
    color: var(--White);
    font-size: 20px;
    font-family: var(--lato);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 15px;
}
.text-content img{
    padding-top: 20px;
}
/* Hero Area End */